@CommonWhite: #FFFFFF;
@CommonBlack: #000000;

//7号配色方案
//主要颜色
@MidnightBlue: #09316A;
@LightPeach: #FFE2C8;
@Burgundy: #B20A19;

//6号配色方案
//主要颜色
@Turquoise: #02B795;
@DeepTeal: #005D4B;
@JetTeal: #013D32;
@Cream: #F1E6D5;
//字体颜色
@VeryDarkForestGreen-font: #0D3A0E;

//5号配色方案
//主要颜色
@MintCyan: #87FFF7;
@MediumTeal: #6DC6BE;
//字体颜色
@CommonBlack-font: #000000;

//4号配色方案
//主要颜色
@BrightRed: #FD0200;
@BrightLemonYellow: #FEFA02;
@ElectricTea: #00FEE0;

//3号配色方案
//主要颜色
@DeepRoyalBlue: #0117A8;
@LightGray: #F0F0EF;
//字体颜色
@MediumGray-font: #8C8C8C;
@CommonBlack-font: #000000;

//2号配色方案
//主要颜色
@BrightRoyalBlue: #0210EC;
@BrightLemonYellow: #FEF205;

//1号配色方案
//主要颜色
@MistyBlue: #97B2D1;
@LightCherryBlossomPink: #F4C6CE;
@Cream: #F1E6D5;
//辅助颜色
@MediumNeutralGray: #8A8A8A;
@LightGray: #D9D9D9;
@UltraLightGray: #F0F0F0;
//字体颜色
@DeepNavyBlue: #0F2645;
@DarkBurgundy: #5A0D17;
@DarkCoffee: #614926;


//导航栏自定义样式
.van-nav-bar{
  --van-nav-bar-background: @MidnightBlue;
  --van-nav-bar-title-text-color: @CommonWhite ;
}

//标签栏自定义样式
.van-tabbar{
  --van-tabbar-background: @LightPeach;
}
